
@media (max-width: 768px) {

    .follow-whatsapp{
        height: 76px; 
        width: 100%;
    }

    .follow-whatsapp a{
        font-size: 30px;
    }

    .section-footer{
        height: 100vh;
    }

    .section-footer h3{
        font-size: 20px;
    }

    .section-footer .title-whatsapp div:nth-child(1) {
        margin-left: 0px;
    }
    .section-footer .title-whatsapp div:nth-child(2) {
        margin-right: 0px;
    }
    
    .section-presentation-bg h1{
        top: 45%;
    }
    .section-footer-container-logo {
        height: 130px;
    }
    
    .section-presentation-bg .resume{
        font-size: medium;
    }
    
    .section-presentation-bg div{
        top: 45%;
    }
    .section-presentation-img img{
        height: 80px;
    }
    .content-clients-img div:nth-child(2){
        border-width: 0 0 1px 0;
    }

    /* (odd): Para los elementos impares (1, 3, 5, ...) */
    #content-clients_id > article:last-of-type div:nth-child(odd){
        border-width: 1px 1px 0px 0;
    }
    
    /* (even): Para los elementos pares (2, 4, 6, ...) */
    #content-clients_id > article:last-of-type div:nth-child(even){
        border-width: 1px 0 0px 0;
    }

    /* Capacidades tecnologicas version movil */
    .section-feature-card-img img{
        height: 260px;
    }    

    .section-feature-card-img::before{
        right: 140px;
        visibility: hidden;
    }
    .section-feature-card-img h4::after{
        visibility: visible;
    }
    .section-feature-card-img:hover::before{
        right: 135px;
        visibility: hidden;
    }
    .section-feature-card .section-feature-card-img h4{
        opacity: 1;
        bottom: 0px;
        visibility: visible;
    }

    .section-feature-card-img img{
        transform: scale(1);
        mask-image: linear-gradient(black 60%, transparent);
    }
    

    .section-feature-card:nth-child(4n+2){
        position: relative;
        top: 0rem;
    }
    .section-feature-card:nth-child(4n+3){
        position: relative;
        top: 0rem;
    }
    .section-feature-card:nth-child(4n+4){
        position: relative;
        top: 0rem;
    }

}


