:root{
    --color-que-es-title: #000000;
    
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Sección 02 - Que-es */
.section-what-is h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: var(--color-que-es-title);
}

.section-what-is > div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.75rem;
}

.section-what-is .section-what-is-description{
    margin: 40px;
}

.custom-shape-divider-bottom-1730132633 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1730132633 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-bottom-1730132633 .shape-fill {
    fill: var(--color-amarillo-paleta-5);
}



@media (max-width: 992px) {
    .img-what-is-custom-shape {
        width: 100%; /* Ajusta el tamaño según lo necesites */
        height: 260px;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    }
}