
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Sección 01 - Implementación */
.section-implementation h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: var(--color-amarillo-paleta-5);
}

.section-implementation > div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.75rem;
}

.section-implementation .section-implementation-description{
    position: relative;
    margin: 40px;
}

.section-implementation img{
    position: relative;
    z-index: 9;
}

.img-what-is-custom-shape {
    position: relative;
    width: 500px; /* Ajusta el tamaño según lo necesites */
    height: 260px;
    background-image: url('/public/img/capacidad/ERP-CRM-diferencias.webp'); /* Asegúrate de cambiar esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
    z-index: 1;
    border-radius: 10px 0 0 10px; 
}

.custom-shape-divider-bottom-1730131385 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1730131385 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 86px;
}

.custom-shape-divider-bottom-1730131385 .shape-fill {
    fill: var(--color-amarillo-paleta-1);
}
